@font-face {
  font-family: 'Madrid';
  src: url('styles/fonts/Madrid.otf') format('opentype');
}
html {
  scroll-behavior: smooth;
}
body {
	margin: 0;
	min-height: 100dvh;
	background: 
		radial-gradient(circle at 50% 20%, rgba(255, 0, 0, 0.25), transparent 50%), 
		linear-gradient(180deg, #000000, #1a0000);
	color: white;
	font-family: 'Inter', sans-serif;
	background-attachment: fixed;
}
.navbar {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	
	width: 90%;
	height: 70px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background: rgba(15, 15, 15, 0.6);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	border-radius: 20px;

	border: 1px solid rgba(255, 0, 0, 0.2);
z-index: 1000;
	box-shadow: 0 0 20px rgba(255, 0, 0, 0.15);
}
.icon {
	width: 26px;
	height: 26px;
margin-left: 7px;
  transform: translateY(7px);
  
	fill: #A0A0A0; 
	opacity: 0.9;

	transition: 0.2s;
}
.icon.active {
	fill: #ff2e2e;

	filter: 
		drop-shadow(0 0 6px rgba(255, 0, 0, 0.6))
		drop-shadow(0 0 12px rgba(255, 0, 0, 0.3));
}
.icon:active {
	transform: scale(0.9);
}
.icon-p {
	width: 26px;
	height: 26px;
 transform: translateX(22px) translateY(7px);

	color: #9A9A9A; /* controla tudo */
	transition: 0.2s;
}
.icon-p.active {
	color: #ff2e2e;

	filter: 
		drop-shadow(0 0 6px rgba(255, 0, 0, 0.6))
		drop-shadow(0 0 12px rgba(255, 0, 0, 0.3));
}
.icon-p:active {
	transform: scale(0.9) translateX(24px);
}
.icon-pr {
	width: 26px;
	height: 26px;
 transform: translateX(35px) translateY(5px); 

	color: #9A9A9A;
	transition: 0.2s;
}
.icon-pr.active {
	color: #ff2e2e;

	filter: 
		drop-shadow(0 0 6px rgba(255, 0, 0, 0.6))
		drop-shadow(0 0 12px rgba(255, 0, 0, 0.3));
}
.icon-pr:active {
	transform: scale(0.9) translateX(38px);
}
.nav-btn {
	color: #9A9A9A;
	transition: 0.2s;
}

.nav-btn.active {
	color: #EAEAEA;
}

.icon {
	width: 26px;
	height: 26px;
}
.icon-p {
	width: 26px;
	height: 26px;
}
.icon-pr {
	width: 26px;
	height: 26px;
}
.games {
  display: flex;
  font-size: 12px;
  transform: translateY(5px) translateX(3px);
  font-weight: bold;
}
.fast-play {
  display: flex;
  font-size: 12px;
  transform: translateY(6px) translateX(20px);
  font-weight: bold;
}
.recos {
  display: flex;
  font-size: 12px;
  transform: translateY(6px) translateX(10px);
  font-weight: bold;
}
.pg-title {
	 font-family: 'Inter', sans-serif;
	 color: #FF4C4C;
	 
  margin-left: 10px;
  transform: translateY(-10px);
}
.head {
	 text-align: left;
	bottom: 20px;
	left: 50%;
	transform: translateX(5%);
margin-top: 10px;
	width: 90%;
	height: 150px;

	display: flex;
	
	align-items: flex-start;

	background: rgba(15, 15, 15, 0.6);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	border-radius: 10px;

	border: 1px solid rgba(255, 0, 0, 0.2);
  
}
.plaster {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}
.sekuya {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.desc {
  position: fixed;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: gray;
  opacity: 0.9;
  transform: translateX(10px) translateY(30px);
}
/*.reveal {
	opacity: 0;
	transform: translateY(-30px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.reveal.show {
	opacity: 1;
	transform: translateY(0);
}
*/
.choose-title {
  font-size: 10px;
  transform: translateY(-45px) translateX(50px);
}
.meu-details {
  overflow: hidden;
  transition: all 0.3s ease;
  max-width: 150px;
  padding: 10px;
  border-radius: 8px;
  transform: translateX(100px);
  margin-top: 10px;
}
.meu-summary {
  list-style: none;
  font-size: 10px;
  white-space: nowrap;
  cursor: pointer;
  color: #f5f5f5;
  backdrop-filter: blur(10px);
  display: block;
  
}

.meu-summary::-webkit-details-marker {
  display: none;
}
.meu-summary::after {
  content: "▼";
  float: right;
  margin-left: 8px;
  transition: 0.3s;

}
.meu-details[open] .meu-summary::after {
  content: "▲";
  transform: rotate(180deg);
  margin-left: 8px;
}
.details-info {
  padding-top: 10px;
  font-size: 13px;
}
.meu-details[open] .details-info {
  margin-top: 5px;
  transform: translateY(0);
  max-height: 200px; 
  opacity: 1;
  margin-left: -25px !important;
  
}

.meu-details .details-info {
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  transition: 
    max-height 0.6s ease,
    opacity 0.6s ease;
  transform: translateY(-10px);
  transition: 
    max-height 0.6s ease,
    opacity 0.6s ease,
    transform 0.6s ease;
}
.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #aaa;
  font-family: 'Inter', sans-serif;
  margin-left: 25px;
}

.radio input {
  display: none;
}

/* Bolinha custom */
.check {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #444;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  position: relative;
  transition: 0.3s;
}

/* Bolinha interna */
.check::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
}

/* Quando selecionado */
.radio input:checked + .check {
  border-color: red;
  box-shadow: 0 0 6px rgba(255, 0, 0, 0.4),
            0 0 12px rgba(255, 0, 0, 0.2);
}

/* Ativa a bolinha */
.radio input:checked + .check::after {
  transform: translate(-50%, -50%) scale(1);
}

/* Hover */
.radio:hover .check {
  border-color: #ff4d4d;
}
.radio input:checked ~ * {
  color: white;
}
.radio:active {
  transform: scale(0.97);
}
.dados-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(20px) translateY(20px);
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url('images/dados.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.dados-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(30px) translateY(27px);
  background: linear-gradient(to top, #a67c00, #FFD700 60%, #fff2a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.dados-game:active {
  transform: scale(0.9) translateX(15px) translateY(27px);
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 215, 0, 0.25);
}
.dados-game:hover {
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 215, 0, 0.25);
}
.jokenpo-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(240px) translateY(-60px);
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url('images/jokenpo.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.jokenpo-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(50px) translateY(27px);
  background: linear-gradient(to top, #a67c00, #FFD700 60%, #fff2a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.jokenpo-game:active {
  transform: scale(0.9) translateX(260px) translateY(-60px);
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 215, 0, 0.25);
}
.jokenpo-game:hover {
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 215, 0, 0.25);
}
.memoria-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(20px) translateY(-50px);
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url('images/memoria.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.memoria-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(20px) translateY(27px);
  background: linear-gradient(to top, #a67c00, #FFD700 60%, #fff2a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.memoria-game:active {
  transform: scale(0.9) translateX(20px) translateY(-50px);
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 215, 0, 0.25);
}
.memoria-game:hover {
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 215, 0, 0.25);
}
.bomb-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(240px) translateY(-130px);
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url('images/bomb.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.bomb-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(30px) translateY(27px);
  background: linear-gradient(to top, #a67c00, #FFD700 60%, #fff2a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.bomb-game:active {
  transform: scale(0.9) translateX(260px) translateY(-140px);
  box-shadow: 
  0 10px 25px rgba(0, 0, 0, 0.7),
  0 0 15px rgba(255, 215, 0, 0.25);
}
.bomb-game:hover {
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 215, 0, 0.25);
}
.hourse-bar h1 {
  color: transparent;
  opacity: 0.7;
  margin-left: 180px;
  margin-top: -10px;
}
.hourse-bar {
  margin-top: -315px;
}
.grafic-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(240px) translateY(-340px);
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url('images/soon.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.grafic-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(45px) translateY(27px);
  background: linear-gradient(to top, #FF4C4C, #FF4C4C 80%, #FF5A1F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.timing-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(240px) translateY(-323px);
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url('images/soon.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.timing-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(45px) translateY(27px);
  background: linear-gradient(to top, #FF4C4C, #FF4C4C 80%, #FF5A1F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.run-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(240px) translateY(-305px);
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url('images/soon.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.run-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(45px) translateY(27px);
  background: linear-gradient(to top, #FF4C4C, #FF4C4C 80%, #FF5A1F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.clicker-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(20px) translateY(-585px);
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url('images/soon.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.clicker-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(45px) translateY(27px);
  background: linear-gradient(to top, #FF4C4C, #FF4C4C 80%, #FF5A1F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.soon-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(20px) translateY(-568px);
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url('images/soon.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.soon-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(45px) translateY(27px);
  background: linear-gradient(to top, #FF4C4C, #FF4C4C 80%, #FF5A1F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.breve-game {
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  width: 150px;
  height: 80px;
  transform: translateX(20px) translateY(-550px);
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url('images/soon.jpg');
    
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.breve-game h1 {
  font-size: 7px;
  font-weight: bold;
  transform: translateX(45px) translateY(27px);
  background: linear-gradient(to top, #FF4C4C, #FF4C4C 80%, #FF5A1F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}
.final-line {
  height: 3px;
  width: 90%;
  transform: translateY(-510px);
  margin-left: 20px;
  background: linear-gradient(to right, #AB3048, #FF4C4C 90%);
  border-radius: 40px;
}
.btn-jogar {
  position: fixed;
  font-size: 10px;
  background: linear-gradient(45deg, #b31217, #ff512f);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  transform: translateY(100px);
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  box-shadow: 0 0 20px rgba(255, 90, 31, 0.3);
  transition: 0.5s;
}
.feedback {
  font-size: 10px;
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0,0,0, 0.3);
  border-radius: 3px;
  background: linear-gradient(45deg, #3A86FF, #2F6FED);
  box-shadow: 0 0 15px rgba(58, 134, 255, 0.5);
  transform: translateY(-450px);
  margin-left: 160px;
  transition: 0.3s;
}
.feedback:active {
  transform: scale(1.05) translateY(-430px);
}
.dev {
  color: gray;
  opacity: 0.9;
  font-size: 13px;
  margin-left: 130px;
  transform: translateY(-480px);
}
.dev-line {
  width: 100px;
  height: 2px;
  background: gray;
  border-radius: 40px;
  margin-left: 20px;
  transform: translateY(-500px)
}
.dev-line2 {
  width: 90px;
  height: 2px;
  background: gray;
  border-radius: 40px;
  margin-left: 300px;
  transform: translateY(-500px);
}
#game-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(10, 35px);
  gap: 4px;

  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
  padding: 12px;
  border-radius: 14px;

  box-shadow: 
    0 10px 25px rgba(0,0,0,0.5),
    inset 0 2px 5px rgba(255,255,255,0.05);
}

/* Células */
.cell {
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: bold;

  background: linear-gradient(145deg, #3b82f6, #2563eb);
  border-radius: 3px;

  cursor: pointer;

  box-shadow: 
    0 3px 6px rgba(0,0,0,0.4),
    inset 0 1px 2px rgba(255,255,255,0.2);

  transition: all 0.15s ease;

  color: transparent;
}

/* Clique (funciona no mobile) */
.cell:active {
  transform: scale(0.92);
}

/* Célula revelada */
.cell.revealed {
  background: linear-gradient(145deg, #374151, #1f2937);

  box-shadow: 
    inset 0 4px 8px rgba(0,0,0,0.7);

  color: #e5e7eb;
  font-family: "Sekuya", system-ui;
  font-size: 14px;

  animation: pop 0.18s ease;
}

/* Bomba */
.cell.bomb.revealed {
  background: linear-gradient(145deg, #ff5f5f, #b91c1c);

  box-shadow: 
    0 0 15px rgba(255, 0, 0, 0.6),
    inset 0 4px 10px rgba(0,0,0,0.7);

  font-size: 22px;
}

/* Animação de "abrir" */
@keyframes pop {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
.camp-title {
  font-family: "Sekuya", sistem-ui;
  margin-left: 60px;
  white-space: nowrap;
  font-size: 25px;
  background: linear-gradient(to top, #a67c00, #FFD700 60%, #fff2a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
}
body.shake {
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translate(0); }
  25% { transform: translate(5px, -5px); }
  50% { transform: translate(-5px, 5px); }
  75% { transform: translate(5px, 5px); }
  100% { transform: translate(0); }
}
.turn-message {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Sekuya", system-ui;
  font-size: 28px;
  color: white;

  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(15px);
  padding: 15px 30px;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);

  z-index: 999;
}


.turn-message.show {
  animation: thunderDrop 0.4s ease forwards;
}


.turn-message.hide {
  animation: fadeOut 0.2s ease forwards;
}

@keyframes thunderDrop {
  0% {
    top: -120px;
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
  }
  60% {
    top: 40px;
    opacity: 1;
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    top: 20px;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
}
.turn-message.player-1 {
  color: #3b82f6; /* azul */
  text-shadow: 0 0 10px rgba(59,130,246,0.7);
}

.turn-message.player-2 {
  color: #ef4444; /* vermelho */
  text-shadow: 0 0 10px rgba(239,68,68,0.7);
}
.feedback-app h1 {
  text-align: center;
  font-size: 28px;
  color: #3A86FF;
  margin-top: 30px;
}
.form-wrapper {
  height: 233px;        /* ajusta até ficar bom */
  overflow: hidden;
  border-radius: 12px;
  z-index: 1000;
}

.form-wrapper iframe {
  width: 100%;
  height: 700px;        /* maior que o wrapper */
  margin-top: -250px;   /* empurra pra esconder o topo */
  border: none;
  z-index: 1000;
}
.send-form {
  font-size: 20px;
  
  position: fixed;
  transform: translateX(40px) translateY(50px);
  color: blue;
}
iframe {
  z-index: 1000;
}
.feedback-desc {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: gray;
  opacity: 0.9;
  text-align: center;
}
.feedback-enfeite {
  background-color: gray;
  border-radius: 40px;
  height: 65px;
  width: 2px;
  margin-left: 40px;
  margin-top: -70px;
}
.feedback-enfeite2 {
  background-color: gray;
  border-radius: 40px;
  height: 65px;
  width: 2px;
  margin-top: -70px;
  margin-left: 370px;
}
